TASK-4 : SALES PREDICTION USING PYTHON

Author: Rishi raj

Batch: augest

Domain: Data Science

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("advertising.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
df.shape
df.describe()

Basic Observation:-

Avg expense spend is highest on TV

Avg expense spend is lowest on Radio

Max sale is 27 and min is 1.6

In [ ]:
sns.pairplot(df, x_vars=['TV', 'Radio','Newspaper'], y_vars='Sales', kind='scatter')
plt.show()

Pair Plot Observation

When advertising cost increases in TV Ads the sales will increase as well. While the for newspaper and radio it is bit unpredictable.

In [ ]:

df['TV'].plot.hist(bins=10)

In [ ]:
df['Radio'].plot.hist(bins=10, color="green", xlabel="Radio")

In [ ]:
df['Newspaper'].plot.hist(bins=10,color="purple", xlabel="newspaper")

Histogram Observation

The majority sales is the result of low advertising cost in newspaper

In [ ]:
sns.heatmap(df.corr(),annot = True)
plt.show()

SALES IS HIGHLY COORELATED WITH THE TV

Lets train our model using linear regression as it is coorelated with only one variable TV

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['TV']], df[['Sales']], test_size = 0.3,random_state=0)

In [ ]:
print(X_train)

In [ ]:
print(y_train)

In [ ]:
print(X_test)

In [ ]:
print(y_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

In [ ]:
res= model.predict(X_test)
print(res)

In [ ]:
model.coef_
model.intercept_

In [ ]:
0.05473199* 69.2 + 7.14382225

In [ ]:

plt.plot(res)

In [ ]:
plt.scatter(X_test, y_test)
plt.plot(X_test, 7.14382225 + 0.05473199 * X_test, 'r')
plt.show()